html, body {
	margin:0 0 0 0;
	font-family: "Open-Sans", sans-serif 

}

 header.fullscreen{
	background-image: url(images/fullscreen.jpg);
	height: 100vh;
	background-size: cover;
	margin-bottom: 50px;

	/*centering the title*/
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

a {
	text-decoration: none; /*gets rid of the underlines in links*/		
}

div {
	max-width: 600px;
	margin: 0 auto 20px;
}

h1 {

}

h2 {

}

h3 {

}